BOT_TOKEN=your_bot_token_here
ADMIN_IDS=your_admin_ids_here

RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=your_rcon_password_here

SERVER_PATH=your/server/path/here
SCREEN_SESSION_NAME=mc_server
